.userChoices{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.resetForm{
    grid-row: 1;
    grid-column:  2;
    text-align: center;
    margin-bottom: 10px;
    font-size: 35px;  

}

.vGallery{
    grid-row: 1;
    grid-column: 3;
    text-align: right;
    margin-right: 20px;
}

#nameForm{
    grid-row: 2;
    grid-column: 3;
}

.genColor{
    grid-row: 2;
    grid-column: 1;
}

.heightWeight{
    grid: 2;
    grid-column: 2;
    
}

#invalidEntry1{
    grid-row: 3;
    grid-column: 1;
    color: red;
    font-size: 35;
    
}
#invalidEntry3{
    grid-row: 3;
    grid-column: 3;
    color: red;
    font-size: 35;
}

/* #genderForm{
    grid-row: 2;
    grid-column: 2;
}

#eyeForm{
    grid-row: 2;
    grid-column: 2;
} */

table{
    table-layout: auto;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: aqua;
    width: 100%;
    
}

th {
    text-align: center;
    border: 1px solid black;
}

td {
    text-align: center;
    border: 1px solid black;
}

h1{
    text-align: center;
}

#familyType{
    
    font-size:larger;
    border-top: 3px solid  black;
    border-bottom: 3px solid black;
    background-color: white;
        
}

#testimage{
    margin-top: 15px;
    margin-left: 50%;
    width: 5%;
    height: auto;
}

/* Gallery Page */

#galleryHome{
    display: grid;
    grid-template-columns: max-content;
    
}
/* #buildGallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 2px solid black;
} */

#galleryImage1{
    grid-row: 1;
    grid-column: 1;
    margin: auto;
    height: 110px;
    width: auto;
    
}

#galleryList1{
    grid-row: 1;
    grid-column: 2;
    font-size: 25px;
    

}
#galleryImage2{
    grid-row: 1;
    grid-column: 3;
    margin: auto;
    height: 110px;
    width: auto;
    
}

#galleryList2{
    grid-row: 1;
    grid-column: 4;
    font-size: 25px;

}
#galleryImage3{
    grid-row: 1;
    grid-column: 5;
    margin: auto;
    height: 110px;
    width: auto;
    
}

#galleryList3{
    grid-row: 1;
    grid-column: 6;
    font-size: 25px;

}

